<fj-demo-content-wrap>
  <h2>SVG Icons</h2>
  <h3>Plus Circle By Name</h3>
  <fj-svg-icon class="svg-icon" svgName="plus_circle"></fj-svg-icon>
  <h3>Plus Circle By URL</h3>
  <fj-svg-icon svgUrl="http://localhost:4200/assets/svg-icons/plus_circle.svg"></fj-svg-icon>
  <fj-svg-icon svgUrl="https://raw.githubusercontent.com/google/material-design-icons/master/content/svg/design/ic_add_24px.svg"></fj-svg-icon>
  <fj-svg-icon svgUrl="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg"></fj-svg-icon>
  <pre><code highlight [code]="iconCode"></code></pre>

  <fj-demo-sub-nav [navItems]="navItems"></fj-demo-sub-nav>
</fj-demo-content-wrap>
