<fj-demo-content-wrap>
  <h2>SVG Icons</h2>
  <h3>Plus Cirlce By Name</h3>
  <fj-svg-icon class="svg-icon" svgName="icon-api"></fj-svg-icon>
  <fj-svg-icon class="svg-icon" svgName="icon-application"></fj-svg-icon>

  <fj-svg-icon class="svg-icon" svgName="icon-builder"></fj-svg-icon>

  <fj-svg-icon class="svg-icon" svgName="icon-code"></fj-svg-icon>

  <fj-svg-icon class="svg-icon" svgName="icon-docs"></fj-svg-icon>
  <fj-svg-icon class="svg-icon" svgName="icon-health-status"></fj-svg-icon>
  <fj-svg-icon class="svg-icon" svgName="icon-link"></fj-svg-icon>
  <fj-svg-icon class="svg-icon" svgName="icon-market"></fj-svg-icon>
  <fj-svg-icon class="svg-icon" svgName="icon-module"></fj-svg-icon>
  <fj-svg-icon class="svg-icon" svgName="icon-upload"></fj-svg-icon>
  <fj-svg-icon class="svg-icon" svgName="icon-walhall"></fj-svg-icon>




  <h3>Plus Cirlce By URL</h3>

  <pre><code highlight [code]="iconCode"></code></pre>

  <fj-demo-sub-nav [navItems]="navItems"></fj-demo-sub-nav>
</fj-demo-content-wrap>
