<h2>Radio Buttons</h2>
<h3>Checked</h3>
<fj-radio-button checked>Checked</fj-radio-button>
<pre><code highlight [code]="checkedState"></code></pre>

<h3>Unchecked</h3>
<fj-radio-button>Click me !</fj-radio-button>
<pre><code highlight [code]="uncheckedState"></code></pre>

<h3>Disabled</h3>
<fj-radio-button disabled="true">I am disabled</fj-radio-button>
<fj-radio-button disabled checked>I am checked</fj-radio-button>
<pre><code highlight [code]="disabledState"></code></pre>


<h3>Label Position</h3>
<fj-radio-button labelPosition="before">Label Before</fj-radio-button>
<fj-radio-button checked>Label After</fj-radio-button>
<pre><code highlight [code]="labelPosition"></code></pre>

<h3>In a Group</h3>

<fj-radio-button name='gender' [formGroup]="{}"><span label>Male</span></fj-radio-button>
<fj-radio-button checked name='gender' [formGroup]="{}"><span label>Female</span></fj-radio-button>
