@import '../../../assets/scss/freyja/_freyja-config';

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
}

.navbar {
  height: 64px;
  box-shadow: $navbar-box-shadow;
  background-color: $color-blue;
}
