<fj-demo-content-wrap>
  <h2>text Inputs</h2>
  <fj-text-input label="Label" value="text"></fj-text-input>
  <pre><code highlight [code]="textBasic"></code></pre>

  <h2>Text Input Basic</h2>
  <fj-text-input value="text"></fj-text-input>
  <pre><code highlight [code]="textBasic"></code></pre>

  <h2>Text Input with Label</h2>
  <fj-text-input label="Label" value="text"></fj-text-input>
  <fj-text-input label="Required" value="text" required></fj-text-input>
  <pre><code highlight [code]="textBasic"></code></pre>

  <h3>Sizes</h3>
  <fj-text-input label="Micro" size="micro" value="99"></fj-text-input>
  <fj-text-input label="Small" size="small" value="99"></fj-text-input>
  <fj-text-input label="Medium" value="text"></fj-text-input>
  <pre><code highlight [code]="textBasic"></code></pre>

  <h3>Disabled</h3>
  <fj-text-input disabled label="I am disabled" value="text"></fj-text-input>
  <pre><code highlight [code]="textBasic"></code></pre>


  <h3>Placeholder</h3>
  <fj-text-input placeholder="Enter Value" label="Placeholder Example"></fj-text-input>
  <pre><code highlight [code]="textBasic"></code></pre>

  <h3>State</h3>
  <fj-text-input placeholder="Errored" label="Error Example" [errored]=true error="what have you done"></fj-text-input>
  <pre><code highlight [code]="textBasic"></code></pre>
</fj-demo-content-wrap>