<h2>Check Boxes</h2>
<h3>Checked</h3>
<fj-checkbox checked>Checked</fj-checkbox>
<pre><code highlight [code]="checkedState"></code></pre>

<h3>Unchecked</h3>
<fj-checkbox>Click me !</fj-checkbox>
<pre><code highlight [code]="uncheckedState"></code></pre>

<h3>Disabled</h3>
<fj-checkbox disabled="true">I am disabled</fj-checkbox>
<fj-checkbox disabled checked>I am checked</fj-checkbox>
<pre><code highlight [code]="disabledState"></code></pre>


<h3>Label Position</h3>
<fj-checkbox labelPosition="before">Label Before</fj-checkbox>
<fj-checkbox checked>Label After</fj-checkbox>
<pre><code highlight [code]="labelPosition"></code></pre>
