<fj-demo-content-wrap>
  <h2>Check Boxes</h2>
  <h3>Checked</h3>
  <fj-checkbox checked>Checked</fj-checkbox>
  <pre><code highlight [code]="checkedState"></code></pre>

  <h3>Unchecked</h3>
  <fj-checkbox (change)="onChange($event)">Click me !</fj-checkbox>
  <pre><code highlight [code]="uncheckedState"></code></pre>

  <h3>Disabled</h3>
  <fj-checkbox disabled="true">I am disabled</fj-checkbox>
  <fj-checkbox disabled checked>I am checked</fj-checkbox>
  <pre><code highlight [code]="disabledState"></code></pre>


  <h3>Label Position</h3>
  <fj-checkbox labelPosition="before">Label Before</fj-checkbox>
  <fj-checkbox checked>Label After</fj-checkbox>
  <pre><code highlight [code]="labelPosition"></code></pre>

  <h3>Indeterminate State</h3>
  <fj-checkbox indeterminate>I am confused</fj-checkbox>
  <pre><code highlight [code]="labelPosition"></code></pre>

  <h4>Checkbox Group</h4>
  <fj-checkbox-group [label]="'Checkboxes'" [formGroup]="null" [controlName]="control1" [options]="[{label: 'Checkbox1', value:  'checkbox1'}, {label: 'Checkbox2', value:  'checkbox2'}]"></fj-checkbox-group>
  <pre><code highlight [code]="checkboxGroup"></code></pre>
  <fj-demo-sub-nav [navItems]="navItems"></fj-demo-sub-nav>
</fj-demo-content-wrap>
