<div class="d-none d-xl-block col-xl-2 fd-toc">
    <ul class="section-nav">
        <li class="toc-entry toc-h2"><a href="#how-it-works">Overview</a></li>
        <li class="toc-entry toc-h2"><a href="#supported-content">Type </a>
            <ul>
                <li class="toc-entry toc-h3"><a href="#brand">Primary</a></li>
                <li class="toc-entry toc-h3"><a href="#nav">Secondary</a></li>
                <li class="toc-entry toc-h3"><a href="#forms">Disabled</a></li>
                <li class="toc-entry toc-h3"><a href="#text">Danger</a></li>
            </ul>
        </li>
        <li class="toc-entry toc-h2"><a href="#responsive-behaviors">Size</a>
            <ul>
                <li class="toc-entry toc-h3"><a href="#toggler">Big</a></li>
                <li class="toc-entry toc-h3"><a href="#toggler">Medium</a></li>
                <li class="toc-entry toc-h3"><a href="#toggler">Small</a></li>
                <li class="toc-entry toc-h3"><a href="#toggler">Micro</a></li>
            </ul>
        </li>
    </ul>
</div>