/* grayscale alias */
$color-black: rgba(0, 0, 0, 1) !default;
$color-white: rgba(255, 255, 255, 1) !default;
$color-gray: rgba(0, 0, 0, 0.15) !default;

/* brand palette colors */
$color-blue: rgba(27, 81, 160, 1) !default;
$color-green: rgba(18, 182, 60, 1) !default;
$color-red: rgba(219, 0, 0, 1) !default;
$color-yellow: rgba(249, 148, 0, 1) !default;

/* brand theme lighter hues */
$color-blue-light: #7596c5;
$color-red-light: #e96565;
$color-yellow-light: #fff5e6;
$color-green-light: #edfff2;
$color-red-lightest: #fff2f2;
$color-blue-lightest: #dce8f9;
$color-blue-lightest-alt: #ebf2fc;

/* opaques */
$color-blue-opaque: rgba(220, 232, 249, 1) !default;
$color-red-opaque: rgba(219, 0, 0, 0.6) !default;

/* typography colors */
$color-text: $color-black !default;
$color-text--body: rgba(51, 51, 51, 1) !default;
$color-text--caption: rgba(102, 102, 102, 1) !default;
$color-text--disabled: rgba(178, 178, 178, 1) !default;
$color-text--link: $color-blue !default;

/* utility */
$color-primary: $color-red !default;
$color-secondary: $color-blue !default;

//
//  MEDIA QUERIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

//
// SPACING
//––––––––––––––––––––––––––––––––––––––––––––––––––
$spacer: 1rem !default;


//
// LAYOUT
//––––––––––––––––––––––––––––––––––––––––––––––––––
$header-height: rem-calc(64) !default;

// Fonts
//
//––––––––––––––––––––––––––––––––––––––––––––––––––

// stylelint-disable value-keyword-case
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
$font-family-heading:            $font-family-sans-serif !default;

$heading-weight: 600;

// Other
$radius-default: rem-calc(3);

// Custom Selectors
$haf: "&:hover, &:active, &:focus";
