@import "_config";

:host{
  flex: 0 0 rem-calc(250);
}

.main-nav{
  padding: $spacer;
  &__collapse{
    margin: 0;
    font-size: rem-calc(14);
  }
}

.side-nav{
  margin: 0;
  padding: 0;
  list-style: none;
  &_item{

  }
}
