<h2>Button</h2>
<h3>Type</h3>
<fj-button>Primary</fj-button>
<fj-button color="light">Light</fj-button>
<fj-button [disabled]="true">Disabled</fj-button>
<fj-button color="danger">Destructive</fj-button>
<pre><code highlight [code]="codeType"></code></pre>

<h3>Size</h3>
<fj-button size="lrg">Big</fj-button>
<fj-button size="med">Medium</fj-button>
<fj-button size="sm">Small</fj-button>
<fj-button size="micro">Micro</fj-button>
<pre><code highlight [code]="codeSize"></code></pre>

<h3>Shape</h3>

<fj-button>Radius</fj-button>
<fj-button shape="square">Square</fj-button>
<fj-button shape="rounded">Round</fj-button>
<pre><code highlight [code]="codeShape"></code></pre>

<h3>Icon</h3>
<fj-button icon="plus">Button</fj-button>
<pre><code highlight [code]="codeIcon"></code></pre>

<h3>Style</h3>
<fj-button [ghost]="true" icon="plus" shapeFill="#1b51a0">Ghost</fj-button>
<pre><code highlight [code]="codeStyle"></code></pre>

