<h2>Button</h2>
<h3>Type</h3>
<fj-button>Primary</fj-button>
<fj-button buttonStyle="light">Light</fj-button>
<fj-button [disabled]="true">Disabled</fj-button>
<fj-button buttonStyle="danger">Destructive</fj-button>
<pre><code highlight [code]="codeType"></code></pre>

<h3>Size</h3>
<fj-button buttonSize="lrg">Big</fj-button>
<fj-button buttonSize="med">Medium</fj-button>
<fj-button buttonSize="sm">Small</fj-button>
<fj-button buttonSize="micro">Micro</fj-button>
<pre><code highlight [code]="codeSize"></code></pre>

<h3>Shape</h3>

<fj-button>Radius</fj-button>
<fj-button buttonShape="square">Square</fj-button>
<fj-button buttonShape="rounded">Round</fj-button>
<pre><code highlight [code]="codeShape"></code></pre>

<h3>Icon</h3>
<fj-button buttonIcon="plus">Button</fj-button>
<pre><code highlight [code]="codeIcon"></code></pre>

<h3>Style</h3>
<fj-button [ghost]="true" buttonIcon="plus" iconFill="#1b51a0">Ghost</fj-button>
<pre><code highlight [code]="codeStyle"></code></pre>

