/* You can add global styles to this file, and also import other style files */
@import 'core/_freyja-global';
@import "../projects/freyja-ui/src/lib/core/_global_theme.scss";

$color-primary: #0674db;
$color-secondary:#ffffff;
$color-danger : #db0000;
$color-disable: #d9d9d9;
$color-text: #191919;

$theme-colors: (
  'color-primary': $color-primary,
  'color-secondary':$color-secondary,
  'color-danger' : $color-danger,
  'color-disable': $color-disable,
  'color-text':$color-text,
);

@include freyja-theme($theme-colors);
$spacer: rem-calc(24);
$header-height: rem-calc(64) !default;

